/* The rest of your styling remains the same */
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0; /* Remove any default margin for the body */
}

.title {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  position: fixed;
  bottom: 35px;
  right: 20px;
  width: 150px;
  height: 100px;
  z-index: 1001;
}

/* Floating Buttons */
.floating-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1002; /* Ensure buttons stay above the map */
}

.floating-buttons .btn {
  background-color: #3498db;
  color: white;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;
}

.floating-buttons .btn:hover {
  background-color: #2980b9;
}

.municipality-label {
  font-size: 12px;
  font-weight: bold;
  color: black;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 0px;
  border-radius: 0px;
  opacity: 0.5;
  text-shadow: 
    -2px -2px 2px white, /* Left top */
    2px -2px 2px white,  /* Right top */
    -2px  2px 2px white, /* Left bottom */
    2px  2px 2px white;  /* Right bottom */
}

#map {
  height: 100vh; /* Full viewport height */
  width: 100%;  /* Full width */
  position: relative;
  top: 0;
  left: 0;
  z-index: 1001;
}
.legend {
  line-height: 25px;
  color: #333; /* Dark text for contrast */
  background-color: white; /* Set the background to white */
  padding: 10px; /* Add some padding around the legend */
  border-radius: 21px; /* Rounded corners for a smoother appearance */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Add a shadow for a subtle 3D effect */
  font-size: 18px
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px; /* Reduce margin for tighter spacing */
  opacity: 0.9; /* Keep some transparency for the color boxes */
}

#map-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px; /* Adjust size */
  z-index: 1000; /* Keep it on top of other elements */
}

