/* The rest of your styling remains the same */
body {
  /* background-color: #be9415; */
  font-family: Arial, sans-serif;
  height: 100%
}

.title {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px; /* Add margin to adjust positioning */
}

.subtitle {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  position: fixed;
  bottom: 35px;
  right: 20px;
  width: 150px;
  height: 100px;
  z-index: 1001;
}

/* Floating Buttons */
.floating-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1002;  /* Ensure buttons stay above map and sidebar */
}

.floating-buttons .btn {
  background-color: #3498db;
  color: white;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  transition: background-color 0.3s;
}

.floating-buttons .btn:hover {
  background-color: #2980b9;
}

.municipality-label {
  font-size: 12px;
  font-weight: bold;
  color: black;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 0px;
  border-radius: 0px;
  opacity: 0.5;
  text-shadow: 
 -2px -2px 2px white,   /* Left top */
  2px -2px 2px white,   /* Right top */
 -2px  2px 2px white,   /* Left bottom */
  2px  2px 2px white;   /* Right bottom */;
}


#sidebar {
  width: 80px;  /* Narrow sidebar by default */
  background-color: #000000;
  color: rgb(217, 212, 212);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1002;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
  transition: width 0.3s;
  overflow: hidden; /* Ensure no text is shown when collapsed */
}

.sidebar-icons {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-icons li {
  text-align: center;
  padding: 15px 0;
}

.sidebar-icons li a {
  color: rgb(237, 14, 14);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: color 0.3s ease;
}

.sidebar-icons li a i {
  font-size: 24px;
}

.sidebar-icons li a span {
  font-size: 10px;
  margin-top: 5px;
  display: inline-block;
  opacity: 0;  /* Hidden by default */
  transition: opacity 0.3s ease;
}

.sidebar-icons li:hover a {
  color: #FFD700;
}

#sidebar:hover {
  width: 200px; /* Sidebar expands on hover */
}

#sidebar:hover .sidebar-icons li a span {
  opacity: 1;
  display: flex;
    /* Show text labels when expanded */
}

/* Close button styling */
.leaflet-sidebar-close {
  text-align: center;
}

.leaflet-sidebar-close a {
  color: rgb(0, 0, 0);
  font-size: 24px;
  padding: 10px;
}

/* Make sure the map stays to the right of the sidebar */
#map {
  height: 100vh;
  width: 100%;  /* Calculate width of the map minus the sidebar width */
  position: right;
  top: 0;
  left: 200x;  /* Match the sidebar width */
  z-index: 1001;
}
.legend {
  line-height: 25px;
  color: #333; /* Dark text for contrast */
  background-color: white; /* Set the background to white */
  padding: 15px; /* Add some padding around the legend */
  border-radius: 5px; /* Rounded corners for a smoother appearance */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Add a shadow for a subtle 3D effect */
  font-size: 18px
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px; /* Reduce margin for tighter spacing */
  opacity: 0.9; /* Keep some transparency for the color boxes */
}

